.background-clock{
    width: 960px;
height: 500px;

margin: 12px auto 0;

border-radius: 40px;
background: #FFF;
box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.15);
}
.background-clock{
           position: relative;
    background-image: url(./aset/Number.png),url(./aset/Center.png),url(./aset/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

#second,#minutes,#hour{
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) ;
}